{% extends 'base.html'%}

{% block content %}

        <form action="" method="post" >
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
<!--            <p><label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>{{ form.title }}</p>-->
<!--            <div class="form-error">{{ form.title.errors }}</div>-->

        <p><button type="submit">Add</button></p>
            </form>
        </form>

<hr>
{% endblock %}